name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup root .env
        run: |
          if [ -f .env.sample ]; then
            cp .env.sample .env
          fi
        shell: bash

      - name: Get latest commit message
        id: latest_commit_message
        run: |
          TITLE=""
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            TITLE="${{ github.event.pull_request.title }}"
          else
            TITLE=$(git log -1 --pretty=format:%s || echo "No commit message found")
          fi
          echo "title=$TITLE" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build, Lint & Typecheck
        run: bun run --parallel build lint typecheck

      - name: Test Coverage
        run: bun run test:cov